APP_PORT=8080
APP_ENV=development

DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=uptime_monitor

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

JWT_SECRET=
TELEGRAM_BOT_TOKEN=